{% extends 'base.html.twig' %}

{% block title %}Transaccion{% endblock %}

{% block body %}
    <h1>Transaccion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaccion.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ transaccion.tipo }}</td>
            </tr>
            <tr>
                <th>IdCliente</th>
                <td>{{ transaccion.idCliente }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ transaccion.monto }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ transaccion.timestamp ? transaccion.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transaccion_index') }}">back to list</a>

    <a href="{{ path('app_transaccion_edit', {'id': transaccion.id}) }}">edit</a>

    {{ include('transaccion/_delete_form.html.twig') }}
{% endblock %}
